<form
  #addItemForm="ngForm"
  (ngSubmit)="addItem(addItemForm); addItemForm.reset()"
>
  <div class="input-group mb-3">
    <input
      type="text"
      name="content"
      class="form-control"
      placeholder="What do you need to do?"
      [(ngModel)]="task"
      minlength="4"
      maxlength="120"
      required
      #content="ngModel"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="submit"
        [disabled]="content.invalid"
      >
        Add
      </button>
    </div>
  </div>

  <!-- <div *ngIf="content.invalid && (content.dirty || content.touched)" class="alert alert-danger">
    <div *ngIf="content.errors.required">
      Task is required.
    </div>
    <div *ngIf="content.errors.minlength">
      Task must be at least 4 characters long.
    </div>
    <div *ngIf="content.errors.maxlength">
      Only 120 characters allowed.
    </div>
  </div> -->
</form>
