<div class="todo-item-list">
  <table class="table table-hover">
    <tbody *ngIf="items.length > 0; else emptyTableTemplate">
      <tr *ngFor="let item of items">
        <td width="10">
          <input
            type="checkbox"
            [checked]="item.done"
            (change)="changeItemStatus(item)"
          />
        </td>
        <td [title]="item.content" class="content-wrapper content-overflow">
          <span [ngClass]="{ 'todo-item-done': item.done }">
            {{ item.content }}
          </span>
        </td>
        <td class="createdAt-wrapper">
          {{ item.createdAt | date: "dd/MM/yyyy - HH:mm:ss" }}
        </td>
        <td class="button-wrapper">
          <button
            class="btn btn-danger"
            title="Remove task"
            (click)="removeItem(item)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #emptyTableTemplate>
    <tr>
      <td colspan="4"><b>No task found</b></td>
    </tr>
  </ng-template>

  <div class="feedback-box feedback-total">Total tasks: {{ items.length }}</div>
  <div class="feedback-box feedback-completed">
    Completed tasks: {{ totalCompleted() }}
  </div>
  <div class="feedback-box feedback-remaining">
    Remaining tasks: {{ totalRemaining() }}
  </div>
</div>
