.todo-item-list .todo-item-done {
  text-decoration: line-through;
}

.todo-item-list .table td,
.table th {
  vertical-align: middle;
}

.todo-item-list .createdAt-wrapper {
  min-width: 180px;
}

.todo-item-list .button-wrapper {
  width: 50px;
}

.todo-item-list .content-wrapper {
  min-width: 180px;
  max-width: 350px;
}

.todo-item-list .content-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-item-list .todo-list-filter {
  background-color: #f1f1f1;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
}

.todo-list-filter .bold {
  font-weight: bold;
}

.todo-item-list .feedback-box {
  display: inline;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  margin-right: 5px;
}

.todo-item-list .feedback-total {
  background-color: #bed4f7;
}

.todo-item-list .feedback-remaining {
  background-color: #ffc4c4;
}

.todo-item-list .feedback-completed {
  background-color: #dfffc4;
}
