<div class="d-flex justify-content-center">
  <div>
    <app-todo-add-item (itemAdded)="onItemAdded()"></app-todo-add-item>
    <app-todo-item-list [items]="items" (itemChanged)="onItemChanged()">
    </app-todo-item-list>
  </div>
</div>
